<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="logo">
        <img src="../../../assets/images/Eshop-logo.png" alt="Eshop Logo" />
      </div>
      <p>
        We have clothes that suits your style and which you're proud to wear.
        From women to men.
      </p>
    </div>

    <div class="footer-section">
      <h4>Company</h4>
      <ul>
        <li>About</li>
        <li>Features</li>
        <li>Works</li>
        <li>Career</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Help</h4>
      <ul>
        <li>Customer Support</li>
        <li>Delivery Details</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>FAQ</h4>
      <ul>
        <li>Account</li>
        <li>Manage Deliveries</li>
        <li>Orders</li>
        <li>Payments</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Resources</h4>
      <ul>
        <li>Free eBooks</li>
        <li>Development Tutorial</li>
        <li>How to - Blog</li>
        <li>Youtube Playlist</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Shop.co © 2000-2023, All Rights Reserved</p>
  </div>
</footer>
