<!-- header.component.html -->
<header class="header">
  <div class="header-container">
    <!-- Main header content -->
    <div class="main-header">
      <!-- Logo -->
      <div class="logo" (click)="closeMenu()">
        <img src="../../../assets/images/Eshop-logo.png" alt="Eshop Logo" />
      </div>

      <!-- Mobile Menu Button -->
      <button
        class="menu-toggle"
        (click)="toggleMenu()"
        [class.active]="isMenuOpen"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Navigation Links -->
      <nav class="nav-links" [class.mobile-open]="isMenuOpen">
        <!-- Mobile Header -->
        <div class="mobile-nav-header" *ngIf="isMenuOpen">
          <div class="logo">
            <img src="../../../assets/images/Eshop-logo.png" alt="Eshop Logo" />
          </div>
          <button class="close-menu" (click)="toggleMenu()">X</button>
        </div>

        <!-- Nav Links -->
        <a [routerLink]="'/'" class="nav-link">Home</a>
        <a [routerLink]="'/search-products'" class="nav-link">Collections</a>
        <a [routerLink]="'/search-products'" class="nav-link">New Arrivals</a>

      </nav>

      <!-- Search Bar -->
      <div class="search-container">
        <input
          type="text"
          [value]="searchTerm"
          (input)="onSearch($event)"
          placeholder="Search for products..."
          class="search-input"
        />
      </div>


      <!-- Header Actions -->
      <div class="header-actions" *ngIf="currentUrl !== '/auth'">
        <button class="action-button cart-button" [routerLink]="'/cart'">
          <img src="../../../assets/images/cart.svg" alt="Cart" />
          <span class="cart-count" *ngIf="cartItemCount">{{cartItemCount}}</span>
        </button>

        <div class="profile-dropdown" *ngIf="isLoginMode; else elseBlock">
          <button class="action-button" (click)="toggleProfileDropdown()">
            <img src="../../../assets/images/profile.svg" alt="Profile" />
          </button>

          <div class="dropdown-menu" *ngIf="isProfileDropdownOpen">
            <a class="dropdown-item" (click)="onProfile()">
              Profile
            </a>
            <a class="dropdown-item" (click)="onLogout()">
              Logout
            </a>
          </div>
        </div>

        <ng-template #elseBlock>
          <button class="action-button" [routerLink]="'/auth'">
            <img src="../../../assets/images/login.png" alt="Profile" />
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</header>
